<html>
<head><title>Private Page</title></head>

<body>

<h1>Welcome</h1>

<p>Hey {{ user }}</p>

{% if wants_css %}
  {% if css_list %}
    <p>Here are some Think Outsiders who could teach you CSS.</p>
    
    <ul>
    {% for profile in css_list %}
      <li>{{ profile.name }}: {{ profile.email }}</li>
    {% endfor %}
    </ul>

  {% endif %}
{% endif %}


{% if event_list %}
  <p>Here are some events that might interest you</p>

  <ul>
  {% for event in event_list %}
    <li>{{ event.name }} on {{ event.date }} by {{ event.creator.name }}.</li>
  {% endfor %}
  </ul>

{% endif %}

<h2>Create an Event</h2>

  <form action="/create_event/" method="post">
    Event name: <input type="text" name="name"><br />
    Event date: <input type="text" name="date"><br />
    Event creator: <input type="text" name="creator"><br />
    <input type="checkbox" name="design" /> Design Event<br />
    <input type="checkbox" name="hacking" /> Hacking Event<br />
    <input type="checkbox" name="social" /> Social Event<br />
    <br />
    <input type="submit" value="Submit">
  </form>

</body>
</html>
    
